.page-product{
    background: #ebeef3;
    min-height: 100%;
    .page-product-inner {
       height: 100%;
    }
    .search {
        height: 100px;
        padding-top: 30px;
        text-align: center;
        input {
            margin: 0 auto;
            padding: 0 10px;
            height: 40px;
            border: 1px solid rgba(255,255,255,.95);
            border-radius: 2px;
            background-color: rgba(255,255,255,.95);
            color: #444;
            box-shadow: 0 16px 32px 0 rgba(0,0,0,.07), 0 1px 3px 0 rgba(0,0,0,.02), 0 0 0 1px rgba(0,0,0,.1);
            box-sizing: border-box;
        }
    }
    .total-numb {
        padding-top: 28px;
        height: 56px;
        color: #333;
        span {
            color: #ed5990;
            font-weight: 900;
            padding: 0 5px;
        }
    }
    .search-result-wrap {
        width: 1280px;
        // min-height: 100%;
        margin: 0 auto;
       
    }  
}
.list-loading {
	width: 600px;
	position: absolute;
	top: 35px;
	left: 50%;
	margin-left: -300px;
	text-align: center;
	span {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		margin: 10px;
		background-color: #007db6;
		border-radius: 15px;
		animation: list-loading 1s infinite alternate;
		-webkit-animation: list-loading 1s infinite alternate;
		&:nth-of-type(2) {
			background-color: #008fb2;
			animation-delay: 0.2s;
			-webkit-animation-delay: 0.2s;
		}
		&:nth-of-type(3) {
			background-color: #009b9e;
			animation-delay: 0.4s;
			-webkit-animation-delay: 0.4s;
		}
		&:nth-of-type(4) {
			background-color: #00a77d;
			animation-delay: 0.6s;
			-webkit-animation-delay: 0.6s;
		}
		&:nth-of-type(5) {
			background-color: #00b247;
			animation-delay: 0.8s;
			-webkit-animation-delay: 0.8s;
		}
		&:nth-of-type(6) {
			background-color: #5ab027;
			animation-delay: 1.0s;
			-webkit-animation-delay: 1.0s;
		}
		&:nth-of-type(7) {
			background-color: #a0b61e;
			animation-delay: 1.2s;
			-webkit-animation-delay: 1.2s;
		}
	
	}
	
}
@-webkit-keyframes list-loading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes list-loading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}