.home-page {
	margin-top: 40px;
	width: 1280px;
	margin: 0 auto;
}
.Zmage-wrap {
	margin-top: 50px;
	margin-bottom: 50px;
	.Zmage-wrap {
		width: 300px;
	}
}
.link {
	margin-right: 100px;
}
.linkDemoBox {
	margin-bottom: 100px;
}
.navLink, .link {
	margin-bottom: 100px;
	// margin-left: 100px;
}


.demo-redux {
    font-size: 22px;
    span {
			display: inline-block;
			width: 50px;
			color: aqua;
			height: 40px;
			line-height: 40px;
			cursor: pointer;    
    }
}